mixin contact-input({name, label, type = 'text', textarea = false})
	-const tag = textarea ? 'textarea' : 'input'
	-const _type = tag === 'input' ? type : null
	-const rows = tag === 'textarea' ? '1' : null
	.contact-input
		#{tag}(id=name name=name rows=rows type=_type placeholder=' ' required)
		label(for=name)=(label || name)

mixin contact()
	.contact
		form#contact-form(name='contact' action='/success' method='post' data-netlify='true' data-netlify-honeypot='hid')
			input.-display-none(name='hid')
			.contact-form
				+contact-input({name: 'name'})
				+contact-input({name: 'email', type: 'email'})
			.contact-form
				+contact-input({
					textarea: true,
					name: 'message',
					label: 'hello! lets work together'
				})
			.-ta-right
				input.ghost-button(type='submit' value='Send Message')
