mixin title-bar()
	.title-bar&attributes(attributes)
		header
			.left
				h1
					a.name(href="/")= site.title
						if site.description
							.description= site.description

			.right
				ul.social
					//- [TODO]: info modal
					//- li: a.info: i(data-feather='info')
					if site.email
						li: a.email(href='mailto:#{site.email}'): i(data-feather='at-sign')
					if site.facebook
						li: a.facebook(href='https://fb.com/#{site.facebook}'): i(data-feather='facebook')
					if site.instagram
						li: a.instagram(href='https://instagram.com/#{site.instagram}'): i(data-feather='instagram')
					if site.twitter
						li: a.twitter(href='https://twitter.com/#{site.twitter}'): i(data-feather='twitter')
					if site.github
						li: a.github(href='https://github.com/#{site.github}'): i(data-feather='github')
					if site.gitlab
						li: a.gitlab(href='https://gitlab.com/#{site.gitlab}'): i(data-feather='gitlab')
					if site.codepen
						li: a.codepen(href='https://codepen.io/#{site.codepen}'): i(data-feather='codepen')
					if site.whatsapp
						li: a.whatsapp(href='https://api.whatsapp.com/send?phone=#{site.whatsapp}'): i(data-feather='zap')
